
.dark-mode-toggle {
    margin-left: auto; 
    background-color: #eaeaea;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}

/* Styles pour le mode clair */
.light-theme {
    background-color: #ffffff;
    color: #000000;
}

/* Styles pour le mode sombre */
.dark-theme {
    background-color: #2c2c2c;
    color: #ffffff;
}