.body-apropos {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #eaeaea;
}

.header-apropos {
    position: relative;
    text-align: center;
    padding-top: 1em;
    left: 0;
    right: 0;
    top: 0;
    height: 18vh;
    background-color: rgb(220, 212, 212);
    background-image: none;
}

.logo-apropos {
    display: block;
    max-width: 120px;
}

.nav-apropos {
    margin-top: -70px;
}

.main-apropos {
    display: flex;
    flex-direction: column;
}
  
.banner {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100vw; 
    height: 40vh; 
    background-image: url('/tp/Tp1-2-3_PamelaLimoges/assets/img/magasin-vin.jpg');
    background-size: cover;                                                                 
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    color: white;
    animation: animateBackground 5s ease-out 7s 1 normal both;
}

@keyframes animateBackground {
    0% {
      background-position: center bottom;
    }
    100% {
      background-position: center center;
    }
}

.our-mission {
    text-align: center;
    padding: 30px 20px;
}
  
.our-mission-title h2 {
    font-size: 2.5rem; 
    margin-bottom: 20px;
}
  
.our-mission-title p {
    font-size: 1.2rem;
    margin-bottom: 40px;
}
  
.our-mission-content {
    display: flex;
    justify-content: center;
    gap: 40px;
}
  
.our-mission-content div {
    text-align: center;
    flex-basis: 30%;
}
  
.our-mission-content img {
    margin-bottom: 10px;
}
  
.our-mission-content h3 {
    font-size: 1rem; 
    color: #555;
    font-style: italic;
}

