body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #eaeaea;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f5f5f5;
    box-shadow: 0 4px 6px -2px #b09393;
    border-bottom: 1px solid #b09393;
}

nav {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav ul li a.active {
    font-weight: bold;
}

main {
    display: flex;
}

.footer {
    background-color: #f5f5f5;
    color: #333;
    padding: 20px;
    border-top: 1px solid #b09393;
    display: flex;
    flex-direction: column;
}

.footer-nav {
    display: flex; 
    justify-content: center;
    margin-bottom: 10px;
}

.footer-link {
    margin: 0 15px; 
    text-decoration: none;
    color: #333;
}

.footer-link:hover {
    text-decoration: underline;
    color: #6b4343;
}

.footer-bottom {
    text-align: center;
    width: 100%;
}

.footer-bottom-text {
    color: #3a3a3a;
    font-size: 14px;
}